# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Archivos de configuración de VS Code / PyCharm
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Entornos locales
instance/
.env
