<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Servicool Zasa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <h2>Servicool Zasa</h2>
            <div>
                <a href="{{ url_for('inicio') }}">Inicio</a>
                <a href="{{ url_for('servicios') }}">Servicios</a>
                <a href="{{ url_for('contacto') }}">Contacto</a>
                <a href="{{ url_for('acerca') }}">Acerca</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>Contáctanos</h1>
        <p>📧 Email: contacto@servicoolzasa.com</p>
        <p>📞 Teléfono: +593 99 996173679</p>
        <p>📍 Dirección: PuyoEsmeraldas, Esmeraldas, Ecuador</p>
    </section>

    <footer>
        <p>&copy; 2025 Servicool Zasa | Tu Clima Ideal nuestro servicio</p>
    </footer>
</body>
</html>
