
<!DOCTYPE html>
<html>
<head>
    <title>Inventario Servicool</title>
</head>
<body>
    <h1>Inventario de Productos</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>${{ producto.precio }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>